// @media (prefers-color-scheme: light) {
// 	:root {
// 		color: #213547;
// 		background-color: #ffffff;
// 	}
// 	a:hover {
// 		color: #747bff;
// 	}
// 	button {
// 		background-color: #f9f9f9;
// 	}
// }

@import './components/styles/reset.scss';
@import './components/styles/variables.scss';

body {
	font-family: $font-family;
	margin: 0;

	min-width: 320px;
	background-color: $background-color;
	color: #fff;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}
a,
button {
	color: #fff;
}

.u-left {
	padding-bottom: 8px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.u-left:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #fff;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.u-left:hover:before,
.u-left:focus:before,
.u-left:active:before {
	right: 0;
}
